.grid-container {
  display: grid;
  gap: 1rem;
  grid-template-columns: repeat(auto-fit, minmax(260px, 1fr));
}

.grid-container-cart {
  display: grid;
  gap: 8rem;
  grid-template-columns: repeat(auto-fit, minmax(300px, 2fr));
}
