.product-container {
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding: 1rem;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  border-radius: 1rem;
}

.product-container img {
  width: 15%;
}

button {
  border: none;
  padding: 1rem 2rem;
  margin-bottom: 1rem;
  border-radius: 0.5rem;
}

button:hover {
  opacity: 0.5;
}

.product-description-container {
  width: 50%;
}

.product-description-container button {
  width: 100%;
}

.total-label-container {
  display: flex;
  justify-content: space-between;
}
